<%-include('./layout/main.ejs') %>


  <main style="display: flex; flex-flow: column;">
    <div style="border: 2px solid black; margin: 20px; padding: 20px;">
    <h1><%= product.title%></h1>
    <h3><%= product.description%></h3>
    <h4><%= product.price%></h4>
    <form action="/cart" method="post">
      <button type="submit">Add To Cart</button>
      <input type="hidden" name="productId" value="<%= product._id%>">
    </form>
  </div>
  </main>