<%-include('./layout/main.ejs') %>


  <main> 
    <form action="/login" method="post" style="text-align: center;" >
      <%if(errorMessaage) {%>
        <div>
          <h1 style="color: red; border: 2px solid red; background-color: rgb(255, 140, 120);"> <%=errorMessaage%> </h1>
        </div>
      <% } %>
        <label for="email">Enter Email:-</label> <br>
        <input type="email" name="email" value="<%= oldInput.email %>"> <br> <br>
        <label for="password">Enter Password:-</label> <br>
        <input type="password" name="password" value="<%=oldInput.password%>"> <br> <br>
        <input type="hidden" name="_csrf" value="<%=csrfToken %>">
        <button type="submit"> Login </button> <br> <br>
        <a href="/reset" style="color: blue; font-size: small;  text-decoration: underline;">Reset Password</a>
    </form>
       
       <!-- <button>Reset</button> -->
  </main>