<%-include('./layout/main.ejs') %>


  <main style="display: flex; flex-flow: column;">
   <% if(products.length>0) { %>
    <div>
    <% for(let prod of products) { %>
      <div style="border: 2px solid black; margin: 20px; padding: 20px;">
        <h1> <%= prod.title%> </h1>
        <h3>$ <%= prod.price %></h3>   
        <h4> <%= prod.description%></h4>
        <div style="display: flex;">
        <a href="/editproducts/<%= prod._id %>?edit=true"><button>Edit</button></a>
        <a href="/products/<%= prod._id %>"><button>Details</button></a>
        <form action="/delete-product" method="post">
          <input type="hidden" value="<%=prod._id%>" name="productId">
          <button type="submit">Delete</button>  
        </form>
      </div>
      </div>
</div> 
    <% } %>

    <%} else {%>
      <h1>No Products Found..</h1>
    <%}%>
  
  </main>