<%-include('./layout/main.ejs') %>


  <main >
   <% if(products.length>0) { %>
    <div style="display: grid;

    grid-template-columns: repeat(3, 1fr);
    
    grid-auto-rows: auto;
    
    grid-gap: 1rem; 
    width: 80px;">
    <% for(let prod of products) { %>
      <div style="border: 2px solid black; margin: 20px; padding: 20px; height: 340px;">
        <img src="/<%= prod.imageUrl%>" alt="<%= prod.title%>" width="150px" height="100px">
        <h1> <%= prod.title%> </h1>
        <h3>$ <%= prod.price %></h3>   
        <h4> <%= prod.description%></h4>
        <div style="display: flex;">
        <a href="/products/<%= prod._id %>"><button>Details</button></a>
      </div>
    </div>
    <%}%>
    <%} else {%>
      <h1>No Products Found..</h1>
    <%}%>
  
  </main>